@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  background: url("../images/bg-header-mobile.png") no-repeat scroll top;
  background-size: contain;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1.5rem;
  text-align: center;
}

.first, .second, .third, .four, .five, .six {
  margin: 3.5rem 0;
  line-height: 1.5rem;
}

.first img, .second img, .third img, .four img, .five img, .six img {
  margin-bottom: 2rem;
  width: 20%;
}

.first .title, .second .title, .third .title, .four .title, .five .title, .six .title {
  line-height: 2.5rem;
  font-size: 1.9rem;
  color: #4c545d;
}

.first p, .second p, .third p, .four p, .five p, .six p {
  font-size: 1rem;
  color: #9fabb2;
}

.first .buttons, .second .buttons, .third .buttons, .four .buttons, .five .buttons, .six .buttons {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.first .buttons button, .second .buttons button, .third .buttons button, .four .buttons button, .five .buttons button, .six .buttons button {
  width: 90%;
  padding: 0.8rem;
  border-radius: 9rem;
  border: none;
  background-color: #26baa4;
  color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.first .buttons button:nth-child(2), .second .buttons button:nth-child(2), .third .buttons button:nth-child(2), .four .buttons button:nth-child(2), .five .buttons button:nth-child(2), .six .buttons button:nth-child(2) {
  background-color: #6173ff;
}

.first .buttons button:hover, .second .buttons button:hover, .third .buttons button:hover, .four .buttons button:hover, .five .buttons button:hover, .six .buttons button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.second img, .third img, .four img, .five img, .six img {
  margin: 2rem 0;
  width: 100%;
}

.four img {
  max-width: 15%;
}

.four .title {
  font-size: 1.5rem;
}

.five {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.five img {
  width: 90%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(235, 235, 235, 0.712);
  gap: 3rem;
  height: 15vh;
}

footer img {
  max-width: 15%;
}

footer .links {
  text-decoration: none;
  line-height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .links a {
  text-decoration: none;
  color: #4c545d;
}

footer .links a:hover {
  color: #26baa4;
}

footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  max-width: 40%;
}

footer .icons svg *:hover {
  fill: #26baa4;
  cursor: pointer;
}

@media (min-width: 700px) {
  body {
    background: url("../images/bg-header-desktop.png") no-repeat scroll top;
    background-size: contain;
  }
  .first, .second, .third, .four, .five, .six {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 45%;
  }
  .first img, .second img, .third img, .four img, .five img, .six img {
    width: 17%;
  }
  .first .title, .second .title, .third .title, .four .title, .five .title, .six .title {
    line-height: 1rem;
  }
  .first .buttons, .second .buttons, .third .buttons, .four .buttons, .five .buttons, .six .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 70%;
  }
  .second, .third, .four, .five, .six {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .second .head, .third .head, .four .head, .five .head, .six .head {
    width: 47%;
    margin-bottom: 3rem;
  }
  .second aside, .third aside, .four aside, .five aside, .six aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    align-items: center;
    gap: 4rem;
  }
  .second aside img, .third aside img, .four aside img, .five aside img, .six aside img {
    width: 60%;
    position: relative;
    right: 4.5rem;
  }
  .second aside section, .third aside section, .four aside section, .five aside section, .six aside section {
    text-align: left;
    width: 26%;
  }
  .second aside section .s-1, .third aside section .s-1, .four aside section .s-1, .five aside section .s-1, .six aside section .s-1 {
    padding-bottom: 2rem;
  }
  .second aside section .s-2, .third aside section .s-2, .four aside section .s-2, .five aside section .s-2, .six aside section .s-2 {
    padding-bottom: 2rem;
  }
  .second aside section .s-3, .third aside section .s-3, .four aside section .s-3, .five aside section .s-3, .six aside section .s-3 {
    padding-bottom: 2rem;
  }
  .third {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .third .head {
    width: 55%;
  }
  .third img {
    width: 60%;
  }
  .four section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 12rem;
  }
  .four section .f-1 {
    width: 35%;
  }
  .four section .f-2 {
    width: 35%;
  }
  .four section .f-3 {
    width: 35%;
  }
  .five {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5rem;
    width: 80%;
  }
  .six {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
  }
  .six .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 70%;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 25vh;
    gap: 9rem;
  }
  footer img {
    margin: 0;
    max-width: 5%;
  }
  footer .links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 1.5fr 1fr;
        grid-template-columns: 1.5fr 1.5fr 1fr;
    margin-right: 4rem;
  }
}
/*# sourceMappingURL=style.css.map */